body {
    background-color:rgba(254, 245, 231, 0.952);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.page-top {
    background-color: rgb(155, 125, 125);
    padding: 20px; 
}

nav {
    font-size: 20px;
    background-color: rgb(155, 125, 125);
    padding: 15px;
    border: 1px solid #555;
}

.navigation {    
    color: white;  
    text-decoration: none; 
    font-weight: bold;
    padding: 10px;        
}

.navigation.active {
    background-color: rgb(7, 7, 7);
    padding: 15px;     
}

.hamster {
    overflow:hidden;
}

.hamster .gif {
    margin-top: -100px;
    margin-bottom: 50px;
}

.wheel {
    margin-top: 70px;
    margin-bottom: 120px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.trigger {
    background-color: rgba(254, 245, 231, 0.952);
    padding: 15px 32px; 
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold; 
    margin-top: 10px;
    margin-bottom: 20px;
}

.restaurant {
    display: none;
    color: red;
    font-size: 30px;
    padding: 15px 32px;
}

.title {
    font-weight: bold;
    margin-top: 30px;
}

.list {
    font-size: 15px;
    font-style: italic;
    list-style-position: outside;
    text-align: left;
    display:inline-block;
}

.limit {
    display: none;
}

footer {
    margin-top: 10%;
}